.sp-thongbao {
  color: red;
  margin-left: 2px;
  /* display: none; */
}

#SapXepGiam {
  display: none;
}

#content {
  width: 100%;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #acb6e5, #74ebd5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.myCardHeader,
.myCardFooter {
  background-color: transparent;
}

.table thead th,
.table td {
  vertical-align: middle;
}

.search {
  position: relative;
  flex: 1;
}

.icon-search {
  height: 20px;
  width: 20px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  border-radius: 50%;
  background-color: #dadada;
  display: none;
}

#btnTimNV:hover {
  opacity: 0.8;
  cursor: pointer;
}
